.social-links {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    a {
        border-radius: 5px;
        display: flex;
        margin-right: 10px;
        padding: 5px 8px;

        &.youtube {
            background-color: $youtube;
        }

        &.twitter {
            background-color: $twitter;
        }

        &.facebook {
            background-color: $facebook;
        }

        &.linkedin {
            background-color: $linkedin;
        }

        svg {
            height: 20px;
            width: 15px;
        }
    }
}