.menu-web-list {
    &__header {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }

    &__items {
        background-color: white;

        .List {
            position: relative;
            
            .draggable {
                background-color: rgba(255, 255, 255, 0.5);
                padding: 10px 20px;
                width: 100%;

                &:hover {
                    cursor: pointer;
                }

                &.dragged {
                    border: 1px solid #E2E2E2;
                    padding: 10px 20px;
                }
            }
        }

        .ant-list-item-meta {
            align-items: center;
            display: flex;
        }
    }
}